body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.creative {
  color: midnightblue;
}

.left {
  float: left;
  flex: 0.5;
}

.right {
  float: right;
  flex: 0.5;
}

.card {
  /* display: inline-block; */
  display: block;
  width: 45%;
  text-align: justify;
}

.tile-image {
  float: left;
  width: 20%;
  /* display: inline-block; */
}

.card-title {
  /* float: left; */
  /* clear: both; */
  /* display: inline-block; */
}

.card-text {
  /* display: inline-block; */
}

.card img {
  display: inline;
}