/* CSS selectors */
html {
    font-size: xx-large;
}

body {
    background-color: orange;
}

h1 {
    color: blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Pacifico', cursive; */
}

h2 {
    /* font-family: "Times New Roman", Times, serif */
    font-family: 'Pacifico', cursive;
}

img {
    height: 200px;
    width: 200px;
}

header {
    background-color: pink;
    padding: 20px;
}

footer {
    font-size: 12pt;
    text-align: center;
}


/* ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
} */

/* class selectors */
/* It can be applied to many elements */
.red-text {
    color: red;
}

.note {
    font-size: 20px;
}

.color-title {
    font-weight: normal;
}

.meme-body {
    background-color: black;
}
.meme-div {
    margin-left: 25%;
    width: 50%;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.meme-text {
    color: white;
}

.meme-bg-color {
    background-color: black;
}

.align-center {
    text-align: center;
}

.meme-img {
    margin-top: 100px;
    width: 100%;
    border: 5px solid white;
}

/* Id selectors */
/* It can be use for only one element */
#main {
    color:red;
}

#id-selector-demo {
    color: green;
}

#pixel {
font-size: 20px;
}

#point {
    font-size: 20pt;
}

#em {
    font-size: 1em
}

#rem {
    font-size: 1rem;
}

#meme-h1 {
    font-family: 'Libre Baskerville', serif;
}

#meme-img {
    border-width: 5px;
    border-color: white;
}

/* Attribute selectors */
p[draggable="true"]{
    color: blueviolet;
}

p[draggable="false"]{
    color:chocolate
}

li[value]{
    color: yellow;
}

li[value="4"]{
    color:blue;
}


/* Universal selector */
/* * {
    text-align: center;
} */