/* Don't change the existing CSS. */

p {
color: yellow;
margin: 0;
padding: 0;
}


.button {

}


.box {
    background-color: blue;
    padding: 10px;
    /* border: 10px solid purple; */
}



/* Below are the new CSS. */
.inner-box {
    background-color: red;

}

#outer-box {
    border: 10px solid purple;
    /* padding: 10px; */
}

.white-text {
    color: white;
    /* padding: 10px; */
    
}

#static-btn {
    left: 50px;
    top: 50px;
}